
.About-body{
    width: 100%;
}

.About-top-img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 98vh;
    width: 100%;
    background-image: radial-gradient(rgba(0, 0, 0, 0.3) 100%, rgba(0, 0, 0, 0) 100%), radial-gradient(rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0.3) 166%), url("/tfgyhkl.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    font-size: 3.5vh;
    padding-bottom: 15vh;
}
.about-top-img-h1{
    
    margin: 0;
    padding: 0;
}

.the-story-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    width: 100%;
    background-color: #2e2c2c;
    color: #fff;
}
.the-story-h2{
    font-size: 5.5vh;
    margin: 0%;
    padding: 0%;
}
.the-story-text{
    height: 40%;
    width: 45%;
    font-size: 2.5vh;

}

.Jonathan-quote-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
    width: 100%;
    background-image: radial-gradient(rgba(0, 0, 0, 0.3) 100%, rgba(0, 0, 0, 0) 100%), radial-gradient(rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0.3) 166%), url("https://files.oaiusercontent.com/file-KkgtsxwSHNRUeHVtxkttrV?se=2024-12-11T19%3A27%3A48Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3D1dda0266-08a4-47b5-996d-b0fbd329293d.webp&sig=MnBzPc9t6fwGNaphnY9ZoZgHG4ei3LbGDC/UrnK/4OE%3D");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    
    
}

.Jonathan-quote-h2-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.7vw;
}

.Jonathan-quote-h2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 5vh;
    width: 50%;
    margin: 0%;
    padding: 0%;
    font-size: xx-large;
            
}
.Jonathan-quote-h2i{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 5vh;
    width: 50%;
    margin: 0%;
    padding: 0%;
    font-size: xx-large;
}
.Jonathan{
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    height: 10vh;
    width: 30%;
    font-size: large;
}


.About-last-text-div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    width: 100%;
    font-size: xx-large;
    background-color: rgb(196, 160, 117);
    color: #000000;
    
}
.About-last-text-book{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12vh;
    width: 12%;
    color: #fff;
    cursor: pointer;
    border-radius: 0.5vw;
    background-color: #005c5f;
    border: #005c5f solid 1px;
}









@media screen and (max-width: 580px){
    
    .About-top-img{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 45vh;
        width: 100%;
        background-image: radial-gradient(rgba(0, 0, 0, 0.3) 100%, rgba(0, 0, 0, 0) 100%), radial-gradient(rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0.3) 166%), url("/tfgyhkl.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        color: #fff;
        font-size: 1.4vh;
        padding-top: 5vh;
    }
    .about-top-img-h1{
        margin: 0;
        padding: 0;
    }
    
    .the-story-div{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 88vh;
        width: 100%;
        background-color: #2e2c2c;
        color: #fff;
    }
    .the-story-h2{
        font-size: xx-large;
        margin: 0%;
        padding: 0%;
    }
    .the-story-text{
        height: 80%;
        width: 90%;
        font-size: 2.4vh;

    }
    
    .Jonathan-quote-div{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 60vh;
        width: 100%;
        background-image: radial-gradient(rgba(0, 0, 0, 0.3) 100%, rgba(0, 0, 0, 0) 100%), radial-gradient(rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0.3) 166%), url("https://files.oaiusercontent.com/file-KkgtsxwSHNRUeHVtxkttrV?se=2024-12-11T19%3A27%3A48Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3D1dda0266-08a4-47b5-996d-b0fbd329293d.webp&sig=MnBzPc9t6fwGNaphnY9ZoZgHG4ei3LbGDC/UrnK/4OE%3D");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: #fff;
        
    }
       
    .Jonathan-quote-h2{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 3vh;
        width: 90%;
        margin: 0%;
        padding: 0%;
        font-size: 1.8vh;
                
    }
    .Jonathan-quote-h2i{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 3vh;
        width: 90%;
        margin: 0%;
        padding: 0%;
        font-size: large;
    }
    .Jonathan{
        display: flex;
        justify-content: center;
        align-items: end;
        flex-direction: column;
        height: 5vh;
        width: 50%;
        font-size: small;
    }
    
    .About-last-text-div{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 35vh;
        width: 100%;
        font-size: large;
        background-color: #c4a075;
        
    }
    .About-last-text-book{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 7vh;
        width: 30vw;
        color: #fff;
        cursor: pointer;
        border-radius: 2vw;
        background-color: #005c5f;
        border: #005c5f solid 1px;
    }

}









